:root {
  --color-bg: #FFFFFF;
  --color-titulo: #121712;
  --color-subtitulo1: #121712;
  --color-subtitulo2: #638763;
  --color-border: #DBE5DB;
  --color-fondo-icono: #F0F5F0;
  --color-btn: #14B814;
  --color-nav: #E5E8EB;
}

.titulo {
  color: var(--color-titulo);
  font-feature-settings: 'dlig' on;
  font-family: "Plus Jakarta Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: -1px;
}